// COLOUR CONTROL
@wht: #fff;
@blk: #000;
@simpleWeather: #303030;

// MAIN COLOURS
@clearSkyDark: #f89e18;
@fewCloudsDark: #eb9d27;
@scatteredCloudsDark: #5d6e80;
@brokenCloudsDark: #546679;
@showerRainDark: #106dac;
@rainDark: #0b5a8f;
@thunderStormDark: #353535;
@snowDark: #383838;
@mistDark: #999999;
@nightDark: #01142c;

// SPECIALITY COLOURS
@peach: #ff6666;
@google: #1faadb;
@hidden: #ffffff00;
@wht-trans: #ffffff48;